<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pillowapps.liqear"
    android:versionCode="51"
    android:versionName="3.0 unstable"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".LiqearApplication"
        android:icon="@drawable/lb_icon_white"
        android:theme="@style/LiquidBearAppTheme"
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AuthActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.UserViewerVkActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.UserViewerLastfmActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ChartsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SearchSherlockListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ArtistViewerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AlbumViewerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ImagePagerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.EqualizerSherlockActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.TextSherlockActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.PreferencesActivity"
            android:theme="@style/PreferencesTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.RecommendationsSherlockActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.TagViewerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.PlaylistsSherlockListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SetlistSearchSherlockActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.NewcomersSherlockListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.DonateSherlockActivity"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name=".audio.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".audio.HeadsetStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" />
            </intent-filter>
        </receiver>

        <receiver
            android:label="@string/widget_label_4x1"
            android:name=".components.FourWidthOneHeightWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:label="@string/widget_label_4x3"
            android:name=".components.FourWidthThreeHeightWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_4x3" />
        </receiver>
        <receiver
            android:label="@string/widget_label_4x3alt"
            android:name=".components.FourWidthThreeHeightAltWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_4x3_alt" />
        </receiver>

        <receiver android:name=".network.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".audio.MusicPlaybackService" />
        <service android:name="net.robotmedia.billing.BillingService" />

        <receiver android:name="net.robotmedia.billing.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="67de2f90b51dfbe09c08beb887dcd581fc584b77" />

    </application>
</manifest>
