<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pillowapps.liqear"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".LBApplication"
        android:allowBackup="true"
        android:icon="@drawable/lb_icon_white"
        android:label="@string/app_name"
        android:theme="@style/LiquidBearAppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AuthActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.viewers.VkUserViewerActivity" />
        <activity android:name=".activities.viewers.LastfmUserViewerActivity" />
        <activity android:name=".activities.viewers.LastfmChartsViewerActivity" />
        <activity android:name=".activities.viewers.LastfmArtistViewerActivity" />
        <activity android:name=".activities.viewers.LastfmAlbumViewerActivity" />
        <activity android:name=".activities.ImagePagerActivity" />
        <activity android:name=".activities.EqualizerActivity" />
        <activity android:name=".activities.TextActivity" />
        <activity android:name=".activities.PreferencesActivity" />
        <activity android:name=".activities.modes.LastfmRecommendationsActivity" />
        <activity android:name=".activities.viewers.LastfmTagViewerActivity" />
        <activity android:name=".activities.PlaylistsActivity" />
        <activity android:name=".activities.SetlistsActivity" />
        <activity android:name=".activities.modes.NewcomersActivity" />
        <activity android:name=".activities.modes.SearchArtistActivity" />
        <activity android:name=".activities.modes.SearchTagActivity" />
        <activity android:name=".activities.modes.SearchAlbumActivity" />
        <activity android:name=".activities.modes.VkGroupsActivity" />
        <activity android:name=".activities.modes.LastfmNeighboursActivity" />
        <activity android:name=".activities.modes.SearchSimpleTrackActivity" />
        <activity android:name=".activities.modes.SearchLastfmUserActivity" />
        <activity android:name=".activities.modes.VkFriendsActivity" />
        <activity android:name=".activities.modes.VkRecommendationsActivity" />
        <activity android:name=".activities.modes.VkAudioSearchActivity" />
        <activity android:name=".activities.modes.LocalPlaylistTracksActivity" />
        <activity android:name=".activities.modes.VkAlbumTracksActivity" />
        <activity android:name=".activities.modes.NewcomersTracksActivity" />
        <activity android:name=".activities.modes.SetlistTracksActivity" />
        <activity android:name=".activities.modes.LocalArtistsActivity" />
        <activity android:name=".activities.modes.LocalTracksActivity" />
        <activity android:name=".activities.modes.LocalAlbumsActivity" />
        <activity android:name=".activities.modes.SetlistsResultActivity" />

        <receiver android:name=".audio.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".audio.HeadsetStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widget.FourWidthOneHeightWidget"
            android:label="@string/widget_label_4x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".widget.FourWidthThreeHeightWidget"
            android:label="@string/widget_label_4x3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_4x3" />
        </receiver>
        <receiver
            android:name=".widget.FourWidthThreeHeightAltWidget"
            android:label="@string/widget_label_4x3alt">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_4x3_alt" />
        </receiver>

        <receiver android:name=".network.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".audio.MusicService" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="67de2f90b51dfbe09c08beb887dcd581fc584b77" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
</manifest>
